body {
    background: black;
}



#title_time{
  margin-left: calc(50% - 120px);
  margin-top: 5%;
  width: 240px;
  height: 60px;
  background: white;
  //margin: 10px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

#time{
  margin-left: calc(50% - 120px);
//  margin-top: 10%;
  width: 240px;
  height: 60px;
  background: white;
//  margin: 10px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

#title_best_time{
  margin-left: calc(50% - 120px);
  margin-top: 5%;
  width: 240px;
  height: 60px;
  background: white;
  //margin: 10px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

#best_time{
  margin-left: calc(50% - 120px);
  //margin-top: 5%;
  width: 240px;
  height: 60px;
  background: white;
  //margin: 10px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

#divKing{
    margin-left: calc(50% - 295px);
   // margin-top: 15px;
    margin-top: 5%;
    height: 550px;
    width: 550px;
    border: 10px solid white;
    padding: 20px 10px 0 10px;
}

.Kolonka1, .Kolonka2, .Kolonka3, .Kolonka4 {
    width: 120px;
    height: 120px;
    background: white;
    margin: 10px;
}

.Kolonka4 {
    margin-left: 410px;
}

.Kolonka3 {
    margin-top: -130px;
    margin-left: 280px;
}

.Kolonka2 {
    margin-top: -130px;
    margin-left: 150px;
}

.Kolonka1 {
    margin-top: -130px;
    margin-left: 20px;
}
